.priceTrend {
    /* display: inline-flex; */
    height: 314px;
    /* padding: 255px 26px 59px 51px; */
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;

    border-radius: 6px;
    border: 1px solid var(--neutral-tint-4, #E2E8F0);
    background: var(--Glacier-White, #FFF);

    /* shadows/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

h3 {
    /* display: block; */
    padding: 16px;
    color: var(--neutral-shade-1, #334155);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.028px;
}

.trendGraph {
    width: 400px;
    height: 200px;
    padding: 16px;
}